Requirement already satisfied: requests in /Users/ChloeSokol/opt/anaconda3/lib/python3.9/site-packages (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/ChloeSokol/opt/anaconda3/lib/python3.9/site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/ChloeSokol/opt/anaconda3/lib/python3.9/site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/ChloeSokol/opt/anaconda3/lib/python3.9/site-packages (from requests) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in /Users/ChloeSokol/opt/anaconda3/lib/python3.9/site-packages (from requests) (3.3)

In [14]:
import pmdarima as pm
from statsmodels.tsa.seasonal import seasonal_decompose
from sklearn.model_selection import TimeSeriesSplit
import pandas as pd
import numpy as np
import datetime
import requests
import warnings

import matplotlib.pyplot as plt
import matplotlib
import matplotlib.dates as mdates

from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.preprocessing import OrdinalEncoder

from sklearn.model_selection import train_test_split
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.arima_model import ARIMA
from sklearn.preprocessing import StandardScaler
# from fbprophet import Prophet
# from fbprophet.plot import plot_plotly, add_changepoints_to_plot
# from keras.models import Sequential
# from keras.layers import Dense

# from keras.optimizers import Adam

warnings.filterwarnings('ignore')

In [21]:
belgium = pd.read_csv('univariate_df_Belgium.csv')
belgium = belgium.set_index('date')
belgium.index = pd.to_datetime(belgium.index)
belgium
belgium.drop('Unnamed: 0', axis=1)

            new_deaths
date
2020-03-01         0.0
2020-03-08         0.0
2020-03-15         9.0
2020-03-22       140.0
2020-03-29       602.0
...                ...
2023-12-10         0.0
2023-12-17         0.0
2023-12-24         0.0
2023-12-31         0.0
2024-01-07         0.0

[202 rows x 1 columns]

In [28]:
belgium=belgium.sort_index()
train_size = int(len(belgium) * 0.8)
belgium_train, belgium_test = belgium[0:train_size], belgium[train_size:]
belgium_train=belgium.iloc[:-30 ]
belgium_test=belgium.iloc[-30: ]
print(belgium_train.shape, belgium_test.shape)

(172, 2) (30, 2)

In [29]:

belgium_train

            Unnamed: 0  new_deaths
date
2020-03-01       24348         0.0
2020-03-08       24355         0.0
2020-03-15       24362         9.0
2020-03-22       24369       140.0
2020-03-29       24376       602.0
...                ...         ...
2023-05-14       25517        19.0
2023-05-21       25524        23.0
2023-05-28       25531        17.0
2023-06-04       25538        10.0
2023-06-11       25545         7.0

[172 rows x 2 columns]

In [26]:
_ = belgium_test \
    .rename(columns={'Belgium': 'TEST SET'}) \
    .join(belgium_train.rename(columns={'Belgium': 'TRAINING SET'}), how='outer') \
    .plot(figsize=(15,5), title='PJM East', style='.')

(202, 2)