In [34]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [35]:
#imports in korea 
time = pd.read_csv('dataset/Time.csv')
timeage = pd.read_csv('dataset/TimeAge.csv')
timegender = pd.read_csv('dataset/TimeGender.csv')
timeprovince = pd.read_csv('dataset/TimeProvince.csv')
patient = pd.read_csv('dataset/PatientInfo.csv')
searchtrend = pd.read_csv('dataset/SearchTrend.csv')
region = pd.read_csv('dataset/Region.csv')
policy = pd.read_csv('dataset/Policy.csv')
case = pd.read_csv('dataset/Case.csv')
weather = pd.read_csv('dataset/Weather.csv')

In [43]:
patient = pd.read_csv('dataset/PatientInfo.csv')
patient_df = pd.DataFrame(patient)
weather_df = pd.DataFrame(weather)
weather.shape

(26271, 10)

In [ ]:
timeage

In [41]:
# merging time together
coviddata = pd.merge(time,timeage,how='outer')

coviddata = pd.merge(coviddata,timegender,how='outer')

coviddata = pd.merge(coviddata,timeprovince,how='outer')

coviddata.describe()

,time,test,negative,confirmed,released,deceased
count,4261.000000,1.630000e+02,1.630000e+02,4261.000000,2930.000000,4261.000000
mean,2.823750,4.977797e+05,4.754839e+05,1180.627552,615.097611,23.989439
std,6.100424,3.958830e+05,3.865611e+05,2295.297210,1951.420272,53.198668
min,0.000000,1.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
25%,0.000000,9.648800e+04,5.877400e+04,21.000000,1.000000,0.000000
50%,0.000000,5.030510e+05,4.773030e+05,130.000000,25.000000,0.000000
75%,0.000000,7.825585e+05,7.542225e+05,1235.000000,116.000000,14.000000
max,16.000000,1.273766e+06,1.240157e+06,12800.000000,11537.000000,282.000000