In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import pyplot

In [4]:
data = pd.read_csv('new_dataset/owid-covid-data-most-recent.csv')

# Preliminary EDA

In [67]:
data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [ ]:
us_data = data.filter()

In [46]:
data.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,4.753500e+04,5.161200e+04,5.038200e+04,4.441500e+04,51621.000000,50391.000000,47535.000000,51612.000000,50382.000000,44415.000000,...,175371.000000,113529.000000,205218.000000,254487.000000,225451.000000,2.764200e+05,1.188300e+04,11883.000000,11883.000000,11883.000000
mean,7.101327e+06,6.354730e+04,6.504551e+04,8.831625e+04,565.129230,578.642605,108030.716033,964.568503,985.812792,899.220466,...,32.742139,50.329270,3.084285,73.424795,0.725720,1.475199e+08,5.372366e+04,9.953471,11.659345,1698.215765
std,4.264771e+07,6.445317e+05,5.346213e+05,4.494823e+05,3810.215945,3764.651995,156561.784663,4071.868335,3056.314720,1119.059316,...,13.469953,31.788741,2.526863,7.554439,0.151583,7.267108e+08,1.499749e+05,12.287744,25.328344,1931.682528
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-44.230000,-95.920000,-2424.691400
25%,8.950000e+03,1.000000e+00,6.429000e+00,1.320000e+02,0.000000,0.000000,2782.454000,0.048750,1.985000,64.072000,...,21.600000,19.351000,1.300000,68.190000,0.602000,1.531043e+06,1.609000e+02,1.730000,-1.410000,103.137985
50%,7.498700e+04,1.395000e+02,2.057855e+02,1.363000e+03,1.000000,1.429000,31219.877000,35.566000,61.520500,393.714000,...,31.400000,49.542000,2.500000,74.990000,0.743000,8.939617e+06,6.462800e+03,8.170000,5.890000,1150.095200
75%,8.249560e+05,3.069000e+03,3.656215e+03,1.212800e+04,31.000000,36.857000,148565.237500,517.095250,642.589250,1423.205000,...,41.100000,82.502000,4.210000,78.930000,0.848000,3.462765e+07,3.835915e+04,15.485000,16.635000,2762.874900
max,7.738191e+08,4.423623e+07,1.899102e+07,7.010555e+06,103719.000000,93583.286000,750727.219000,240325.866000,71483.706000,6507.656000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.289776e+06,76.620000,377.630000,10292.916000

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276420 entries, 0 to 276419
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    276420 non-null  object
 1   continent                                   262463 non-null  object
 2   location                                    276420 non-null  object
 3   date                                        276420 non-null  object
 4   total_cases                                 47535 non-null   float64
 5   new_cases                                   51612 non-null   float64
 6   new_cases_smoothed                          50382 non-null   float64
 7   total_deaths                                44415 non-null   float64
 8   new_deaths                                  51621 non-null   float64
 9   new_deaths_smoothed                         50391 non-null   float64
 10  total_cases_per_million                     47535 non-null   float64
 11  new_cases_per_million                       51612 non-null   float64
 12  new_cases_smoothed_per_million              50382 non-null   float64
 13  total_deaths_per_million                    44415 non-null   float64
 14  new_deaths_per_million                      51621 non-null   float64
 15  new_deaths_smoothed_per_million             50391 non-null   float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                38165 non-null   float64
 18  icu_patients_per_million                    38165 non-null   float64
 19  hosp_patients                               39650 non-null   float64
 20  hosp_patients_per_million                   39650 non-null   float64
 21  weekly_icu_admissions                       10443 non-null   float64
 22  weekly_icu_admissions_per_million           10443 non-null   float64
 23  weekly_hosp_admissions                      23772 non-null   float64
 24  weekly_hosp_admissions_per_million          23772 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          80887 non-null   float64
 35  people_vaccinated                           77418 non-null   float64
 36  people_fully_vaccinated                     74141 non-null   float64
 37  total_boosters                              49039 non-null   float64
 38  new_vaccinations                            66829 non-null   float64
 39  new_vaccinations_smoothed                   185097 non-null  float64
 40  total_vaccinations_per_hundred              80887 non-null   float64
 41  people_vaccinated_per_hundred               77418 non-null   float64
 42  people_fully_vaccinated_per_hundred         74141 non-null   float64
 43  total_boosters_per_hundred                  49039 non-null   float64
 44  new_vaccinations_smoothed_per_million       185097 non-null  float64
 45  new_people_vaccinated_smoothed              184797 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  184797 non-null  float64
 47  stringency_index                            180902 non-null  float64
 48  population_density                          244885 non-null  float64
 49  median_age                                  231924 non-null  float64
 50  aged_65_older                               228408 non-null  float64
 51  aged_70_older                               230471 non-null  float64
 52  gdp_per_capita                              229521 non-null  float64
 53  extreme_poverty                             152611 non-null  float64
 54  cardiovasc_death_rate                       229967 non-null  float64
 55  diabetes_prevalence                         239446 non-null  float64
 56  female_smokers                              177954 non-null  float64
 57  male_smokers                                175371 non-null  float64
 58  handwashing_facilities                      113529 non-null  float64
 59  hospital_beds_per_thousand                  205218 non-null  float64
 60  life_expectancy                             254487 non-null  float64
 61  human_development_index                     225451 non-null  float64
 62  population                                  276420 non-null  float64
 63  excess_mortality_cumulative_absolute        11883 non-null   float64
 64  excess_mortality_cumulative                 11883 non-null   float64
 65  excess_mortality                            11883 non-null   float64
 66  excess_mortality_cumulative_per_million     11883 non-null   float64
dtypes: float64(62), object(5)
memory usage: 141.3+ MB

In [50]:
# check range of datasets 
print(data['date'].min())
print(data['date'].max())
print(len(data))

# remove dates before april 2020
data_starting04 = data[~(data['date'] < '2020-04-01')]
print(data_starting04['date'].min())
print(data_starting04['date'].max())
print(len(data_starting04))

2020-01-01
2024-01-16
276420
2020-04-01
2024-01-16
270284

In [55]:
# Europe
data_europe = data.loc[data['location'].str.contains('Europe')]
len(data_europe)

2376

In [56]:
# Africa
data_africa = data.loc[data['location'].str.contains('Africa')]
len(data_africa)

3700

In [57]:
# Asia
data_asia = data.loc[data['location'].str.contains('Asia')]
len(data_asia)

1178

In [61]:
# Oceania
data_oceania = data.loc[data['location'].str.contains('Oceania')]
len(data_oceania)

919

In [62]:
# North America
data_NA = data.loc[data['location'].str.contains('North America')]
len(data_NA)

1175

In [63]:
# South America
data_SA = data.loc[data['location'].str.contains('South America')]
len(data_SA)

1169

# Preprocessing

In [5]:
# dropping null values in target as many countries only update records weekly, not daily
df = pd.DataFrame(data)
df_new_cases_na_dropped = df.dropna(subset = ['new_deaths'])
print(df_new_cases_na_dropped.shape)

(51621, 67)

In [76]:
# dropping observations before COVID-19 was detected in the country
data = data[~data['total_cases'].isna()]
# filtering countries by null values after dropping null values in target
null_counts = df_new_cases_na_dropped.groupby('location').agg(lambda x: x.isnull().sum(axis=0))

null_counts['total_null'] = null_counts.sum(axis=1)
top_15_df = null_counts[['total_null']].sort_values(by = 'total_null',ascending=True).iloc[:20]
filtered_countries_list = top_15_df.index.to_list()
data = df_new_cases_na_dropped[df_new_cases_na_dropped['location'].isin(filtered_countries_list)]
print(filtered_countries_list)

# dropping redundant columns 
columns_to_drop = ['new_cases_smoothed',
                   'new_cases_smoothed_per_million',
                   'new_deaths_smoothed',
                   'new_deaths_smoothed_per_million',
                   'excess_mortality_cumulative',
                   'excess_mortality_cumulative_absolute',
                   'excess_mortality_cumulative_per_million',
                   'icu_patients',
                   'hosp_patients',
                   'weekly_icu_admissions',
                   'weekly_hosp_admissions',
                   'total_tests',
                   'new_tests',
                   'new_tests_smoothed',
                   'new_tests_smoothed_per_thousand',
                   'tests_per_case', #this is the inverse of positive_rate
                   'new_vaccinations_smoothed',
                   'total_vaccinations',
                   'people_vaccinated',
                   'people_fully_vaccinated',
                   'total_boosters',
                   'new_vaccinations_smoothed_per_million',
                   'new_people_vaccinated_smoothed']
data = data.drop(columns_to_drop,axis=1)
data.shape

['United States', 'Estonia', 'Italy', 'Ireland', 'Czechia', 'Israel', 'France', 'Belgium', 'Malaysia', 'Chile', 'Slovakia', 'Greece', 'Canada', 'Latvia', 'Spain', 'Luxembourg', 'Malta', 'Slovenia', 'Germany', 'Sweden']

(4164, 44)

In [33]:
# find null more than 50% columns
limitPer = len(data) * .5
data_over50 = data.dropna(thresh=limitPer, axis=1)
data_over50.columns
# redundant columns = new_vaccinations_smoothed_per_million and 
# new_people_vaccinated_smoothed_per_hundred

Index(['iso_code', 'continent', 'location', 'date', 'reproduction_rate',
       'new_vaccinations_smoothed', 'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'hospital_beds_per_thousand', 'life_expectancy',
       'human_development_index', 'population'],
      dtype='object')

In [38]:
#add our column
data_over50['new_deaths'] = data['new_deaths']

/var/folders/nw/zm64_12d7lqck058z9xvmqq40000gn/T/ipykernel_96627/1664038774.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_over50['new_deaths'] = data['new_deaths']

In [35]:
pd.get_dummies(data_over50, columns=['continent','location'])

,iso_code,date,reproduction_rate,new_vaccinations_smoothed,new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed,new_people_vaccinated_smoothed_per_hundred,stringency_index,population_density,median_age,...,location_Vatican,location_Venezuela,location_Vietnam,location_Wales,location_Wallis and Futuna,location_Western Sahara,location_World,location_Yemen,location_Zambia,location_Zimbabwe
0,AFG,2020-01-05,NaN,NaN,NaN,NaN,NaN,0.0,54.422,18.6,...,False,False,False,False,False,False,False,False,False,False
1,AFG,2020-01-12,NaN,NaN,NaN,NaN,NaN,0.0,54.422,18.6,...,False,False,False,False,False,False,False,False,False,False
2,AFG,2020-01-19,NaN,NaN,NaN,NaN,NaN,0.0,54.422,18.6,...,False,False,False,False,False,False,False,False,False,False
3,AFG,2020-01-26,NaN,NaN,NaN,NaN,NaN,0.0,54.422,18.6,...,False,False,False,False,False,False,False,False,False,False
4,AFG,2020-02-02,NaN,NaN,NaN,NaN,NaN,0.0,54.422,18.6,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276415,ZWE,2023-12-10,NaN,NaN,NaN,NaN,NaN,NaN,42.729,19.6,...,False,False,False,False,False,False,False,False,False,True
276416,ZWE,2023-12-17,NaN,NaN,NaN,NaN,NaN,NaN,42.729,19.6,...,False,False,False,False,False,False,False,False,False,True
276417,ZWE,2023-12-24,NaN,NaN,NaN,NaN,NaN,NaN,42.729,19.6,...,False,False,False,False,False,False,False,False,False,True
276418,ZWE,2023-12-31,NaN,NaN,NaN,NaN,NaN,NaN,42.729,19.6,...,False,False,False,False,False,False,False,False,False,True
276419,ZWE,2024-01-07,NaN,NaN,NaN,NaN,NaN,NaN,42.729,19.6,...,False,False,False,False,False,False,False,False,False,True

In [ ]:
#

In [40]:
# correlation of columns and deleting redundant columns

corr = data_over50.corr(data_over50.new_deaths)

fig = pyplot.figure()
ax = fig.add_subplot(111)
cax = ax.matshow(correlations, vmin=0, vmax=1)
fig.colorbar(cax)
ticks = np.arange(0,7,1)
ax.set_xticks(ticks)
ax.set_yticks(ticks)
pyplot.savefig('correlations.png')
pyplot.show()

ValueError: could not convert string to float: 'AFG'

In [60]:
corr_with_deaths = data.corrwith(data.new_deaths, numeric_only=True)
corr_with_deaths = corr_with_deaths.sort_values(ascending = False).abs()
corr_with_deaths[1:30]

new_deaths_smoothed                     0.962194
hosp_patients                           0.908195
icu_patients                            0.906353
weekly_hosp_admissions                  0.883588
weekly_icu_admissions                   0.768691
new_vaccinations_smoothed               0.658194
new_people_vaccinated_smoothed          0.637258
population                              0.610215
new_vaccinations                        0.596403
new_cases_smoothed                      0.591307
new_tests                               0.549720
new_cases                               0.500241
total_deaths                            0.475473
excess_mortality_cumulative_absolute    0.449734
total_tests                             0.422324
icu_patients_per_million                0.338657
excess_mortality                        0.314105
total_cases                             0.297239
weekly_icu_admissions_per_million       0.295219
people_vaccinated                       0.292934
weekly_hosp_admissions_per_million      0.274095
total_vaccinations                      0.257267
people_fully_vaccinated                 0.251855
hosp_patients_per_million               0.226624
excess_mortality_cumulative             0.211576
stringency_index                        0.158776
positive_rate                           0.132173
new_deaths_smoothed_per_million         0.122567
total_boosters                          0.122029
dtype: float64