In [2]:
import numpy as np
import pandas as pd
from sklearn.feature_selection import VarianceThreshold
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.stattools import adfuller

## Import Data

In [3]:
# Import Data
us_diff = pd.read_csv('univariate_datasets/us_diff.csv', index_col=)
us_uni = pd.read_csv('univariate_datasets/univariate_df_United_States.csv')

In [4]:
us_diff.head()

   Unnamed: 0        date  new_deaths
0      259965  2020-03-01         NaN
1      259972  2020-03-08        17.0
2      259979  2020-03-15        32.0
3      259986  2020-03-22       255.0
4      259993  2020-03-29      1427.0