In [2]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('new_dataset/owid-covid-data-most-recent.csv')
df = pd.DataFrame(data)

In [64]:
# dropping null values in target as many countries only update records weekly, not daily
df_new_cases_na_dropped = df.dropna(subset = ['new_deaths'])
print(df_new_cases_na_dropped.shape)

(51621, 67)

In [79]:
# filtering countries by null values after dropping null values in target
null_counts = df_new_cases_na_dropped.groupby('location').agg(lambda x: x.isnull().sum(axis=0))

null_counts['total_null'] = null_counts.sum(axis=1)
top_15_df = null_counts[['total_null']].sort_values(by = 'total_null',ascending=True).iloc[:15]
filtered_countries_list = top_15_df.index.to_list()
print(filtered_countries_list)

['United States', 'Estonia', 'Italy', 'Ireland', 'Czechia', 'Israel', 'France', 'Belgium', 'Malaysia', 'Chile', 'Slovakia', 'Greece', 'Canada', 'Latvia', 'Spain']

In [78]:
df_new_cases_na_dropped[df_new_cases_na_dropped['location'].isin(filtered_countries_list)]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
24340,BEL,Europe,Belgium,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,31.4,NaN,5.64,81.63,0.931,11655923.0,-1.513000e+02,-6.34,-6.34,-13.086293
24341,BEL,Europe,Belgium,2020-01-12,NaN,0.0,NaN,NaN,0.0,NaN,...,31.4,NaN,5.64,81.63,0.931,11655923.0,-1.898000e+02,-3.94,-1.59,-16.416248
24342,BEL,Europe,Belgium,2020-01-19,NaN,0.0,NaN,NaN,0.0,NaN,...,31.4,NaN,5.64,81.63,0.931,11655923.0,-2.935000e+02,-4.06,-4.29,-25.385506
24343,BEL,Europe,Belgium,2020-01-26,NaN,0.0,NaN,NaN,0.0,NaN,...,31.4,NaN,5.64,81.63,0.931,11655923.0,-5.068000e+02,-5.25,-8.82,-43.834324
24344,BEL,Europe,Belgium,2020-02-02,NaN,0.0,NaN,NaN,0.0,NaN,...,31.4,NaN,5.64,81.63,0.931,11655923.0,-6.556999e+02,-5.40,-5.94,-56.713030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261106,USA,North America,United States,2023-04-16,103081453.0,104057.0,151698.429,1121819.0,1290.0,1810.571,...,24.6,NaN,2.77,78.86,0.926,338289856.0,1.252844e+06,12.74,0.67,3684.871300
261113,USA,North America,United States,2023-04-23,103179920.0,98467.0,133218.286,1123017.0,1198.0,1667.857,...,24.6,NaN,2.77,78.86,0.926,338289856.0,1.253159e+06,12.67,0.54,3685.799600
261120,USA,North America,United States,2023-04-30,103266404.0,86484.0,121202.714,1124063.0,1046.0,1547.714,...,24.6,NaN,2.77,78.86,0.926,338289856.0,1.253444e+06,12.60,0.50,3686.636000
261127,USA,North America,United States,2023-05-07,103343569.0,77165.0,114138.714,1125209.0,1146.0,1462.714,...,24.6,NaN,2.77,78.86,0.926,338289856.0,1.253948e+06,12.53,0.88,3688.120600
261134,USA,North America,United States,2023-05-14,103436829.0,93260.0,105609.000,1127152.0,1943.0,1442.571,...,24.6,NaN,2.77,78.86,0.926,338289856.0,1.255026e+06,12.47,1.91,3691.289000